<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Universe</title>
</head>
<body>
    {% if realm=='Quantum' %}
        <h1>Welcome to the Quantum realm</h1>
    {% elif realm=='Classical' %}
        <h1>Welcome to the Classical realm</h1>
    {% else %}
        <h1>Welcome to the Quantum realm</h1>
    {% endif %}
</body>
</html>